@import "tailwindcss";

@layer base {
  :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    --black: #0A0A0A;
    --white: #E5E5E3;
    --grey: #898987;
    --darkgrey: #2E2E2E;
    --green: #00C19B;
    --red: #E7000D;
    --lightgrey: #D3D3D3;

    color-scheme: light dark;
    color: var(--white);
    background-color: var(--black);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  span {
    color: var(--red);
  }
}